@model IEnumerable<CAJWebApp.Areas.PAYROLL.Models.RegionPayratesModel>

@{
    ViewBag.Root = "UMP";
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <!-- Form inputs -->
        <div class="card animated bounceInLeft">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">@ViewBag.Root</h5>
            </div>
            <div class="card-body">
                <a href="@Url.Action("Create", "Payroll/RegionPayrates", new { Area = "" })" class="btn btn-sm btn-success">Create New <i class="icon-plus22 ml-2"></i></a>
                <div class="table-responsive">
                    <table class="table table-hover datatable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Regions_Name)</th>
                                <th class="text-right">@Html.DisplayNameFor(model => model.MinimumPayrate)</th>
                                <th class="text-right">@Html.DisplayNameFor(model => model.RegularPayrate)</th>
                                <th class="text-right">@Html.DisplayNameFor(model => model.RegularOvertimeHourlyPayrate)</th>
                                <th class="text-right">@Html.DisplayNameFor(model => model.HolidayPayrate)</th>
                                <th class="text-right">@Html.DisplayNameFor(model => model.HolidayOvertimeHourlyPayrate)</th>
                                <th class="non-searchable non-sortable" style="width:100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Regions_Name)</td>
                                <td class="text-right">@Html.DisplayFor(modelItem => item.MinimumPayrate)</td>
                                <td class="text-right">@Html.DisplayFor(modelItem => item.RegularPayrate)</td>
                                <td class="text-right">@Html.DisplayFor(modelItem => item.RegularOvertimeHourlyPayrate)</td>
                                <td class="text-right">@Html.DisplayFor(modelItem => item.HolidayPayrate)</td>
                                <td class="text-right">@Html.DisplayFor(modelItem => item.HolidayOvertimeHourlyPayrate)</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                    • <a href="javascript:void(0)" onclick="Log('@item.Id')">Log</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /form inputs -->
    </div>
    <!-- /content area -->
</div>
